* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    color: aliceblue;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navigatie1 {  
    display: flex;  
    justify-content: space-between;
    margin: 2rem 2.3rem 0rem 2.3rem;
    padding: 0.35rem;
    border-radius: 1rem;
    text-align: center;
    background: #0b0911;
    font-size: 2rem;
    position: sticky;
    top: 2rem;
    z-index: 1000;
}

.navigatie1 a {
    text-decoration: none;
    background: #100e1a;
    color: aliceblue;
}

.navigatielinks1 {
    background: #100e1a;
    padding: 0rem 0rem 0rem 1rem;
}

.navigatielinks2 {
    background: #100e1a;
    padding: 0rem 1rem 0rem 0rem;
}



.content {
    position: relative;
}

.image {
    height: 100vh; /* Setează înălțimea imaginii la întreaga înălțime a ecranului */
    background-image: url('image3.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.overlay-box {
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 96%;
    height: 90%;
    background-color: #100e1a; 
    border-radius: 10px;
    padding: 20px;
    color: white;
    text-align: center;
}



.loading-text {
    font-size: 9rem;
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
    background-color: #100e1a; 
    white-space: nowrap;
    overflow: hidden;
}
.text1{
    background-color: #100e1a; 
}
.text2{
    background-color: #100e1a; 
}
.text3{
    background-color: #100e1a; 
}
.text4{
    background-color: #100e1a; 
}

.loading-text span {
    opacity: 0;
    display: inline-block;
}

.text1 { animation: fadeInOut 5s 1s 1 linear; }
.text2 { animation: fadeInOut 3s 1s 1 linear; }
.text3 { animation: fadeInOut 3s 2s 1 linear; }
.text4 { animation: fadeInOut 3s 3s 1 linear; }

@keyframes fadeInOut {
    from, to { opacity: 0; }
    25%, 75% { opacity: 1; }
}

@keyframes loading-animation {
    0%, 100% { transform: translateX(0); }
    25% { transform: translateX(-100%); }
    50% { transform: translateX(-200%); }
    75% { transform: translateX(-300%); }
}

