* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    color: aliceblue;
}

.navigatie1 {  
    display: flex;  
    justify-content: space-between;
    margin: 2rem 5rem 0rem 5rem;
    padding: 0.35rem;
    border-radius: 1rem;
    text-align: center;
    background: #79728f;
    font-size: 2rem;
    position: sticky;
    top: 2rem;
}

.navigatie1 a {
    text-decoration: none;
    background: #79728f;
    color: aliceblue;
}

.navigatielinks1 {
    background: #79728f;
    padding: 0rem 0rem 0rem 1rem;
}

.navigatielinks2 {
    background: #79728f;
    padding: 0rem 1rem 0rem 0rem;
}

.test {
    display: flex;
    justify-content: center;
    color: aliceblue;  
}

.test p {
    max-width: 20rem;
}

.continut {
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;   
}
.continut p{
    max-width: 40rem;
}

.inauntru {
    display: flex;
    justify-content: center;
}
.continut {
    color: aliceblue;
    line-height: 2.3rem;
    text-align: justify;
}

.continut h1 {
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 2rem;
}

.continut h2 {
    margin-top: 5rem;
    margin-bottom: 2rem;
}
